.gradient-button {
  position: relative;
  padding: 10px 25px;
  font-size: 18px;
  font-weight: 500;

  color: #1f2937;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  z-index: 1;
  cursor: pointer;
}

.gradient-button::before {
  content: '';
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  padding: 2px;
  background: linear-gradient(90deg, #1f2937, #feb47b);
  -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  z-index: -1;
}



.gradient-button:hover {
  background-color: #1a1a1a;
  color: white;
}